services:
  - type: web
    name: job-scraper
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: BACKEND_URL
        value: https://autoback-781i.vercel.app/posts
      - key: GEMINI_API_KEY
        sync: false
